
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  /* Set Cormorant Garamond as the default font for font-sans */
  --font-sans: 'Cormorant Garamond', ui-sans-serif, system-ui, sans-serif;
  
  /* You can still keep other fonts defined for specific use cases */
  --font-serif: 'Lora', ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: 'Raleway', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}